.box{
    margin: 10px;
}

.create-title{
    font-weight: bold;
    color: darkred;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.button{
    margin: 10px;
}

.notification{
    margin: 10px;
}

.card{
    margin: 10px;
}