<nav class="navbar is-link" role="navigation" aria-label="main navigation"> <!-- This whole nav section shows the navbar that will be on top of each page/component -->
  <div class="navbar-brand">
    <div class="navbar-item" style="cursor: default;">
      <i class="fa fa-truck" aria-hidden="true" style="margin-right: 5px;"></i>
      <p><b>ElectricGo</b></p>
    </div>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/trucks">
        Trucks
      </a>

      <a class="navbar-item" routerLink="/warehouses">
        Warehouses
      </a>

      <a class="navbar-item" routerLink="/deliveries">
        Deliveries
      </a>

      <a class="navbar-item" routerLink="/warehouse-routes">
        Warehouse Routes
      </a>

      <a class="navbar-item" routerLink="/packages">
        Packages
      </a>

      <a class="navbar-item" routerLink="/planning">
        Planning
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-dark">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet> <!-- Makes it possible to switch between pages/components-->