<div class="container" *ngIf="auth.isLoading$ | async; else loaded">
    <app-loading></app-loading>
  </div>
  
  <ng-template #loaded>
    <div *ngIf="(role == 'fleet_manager' || role == 'admin') && (auth.isAuthenticated$  | async)">
        <div *ngIf="truck">
            <div class="notification is-success" [hidden]="successnotificationHidden">
                The truck with id {{truck.id}} was updated successfully, you'll be redirected soon.
            </div>
            <div class="notification is-danger" [hidden]="errornotificationHidden">
                The truck with id {{truck.id}} couldn't be updated. Please try again later.
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://uncrate.com/p/2021/04/freightliner-ecascadia-1.jpg" alt="Truck photo">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">Electric Truck</p>
                            <p class="subtitle is-6">{{truck.id}}</p>
                        </div>
                    </div>
                    <div class="content field" style="">
                        <p><i class="fa fa-balance-scale"></i><b> Tare (kg)</b></p>
                        <p class="control has-icons-left">
                            <input class="input" type="number" placeholder="tare" style="width: 150px;" [(ngModel)]="truck.tare"
                                min="1" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </p>
                        <p><i class="fa fa-road"></i><b> Autonomy (km)</b></p>
                        <p class="control has-icons-left">
                            <input class="input" type="number" placeholder="autonomy" style="width: 150px;"
                                [(ngModel)]="truck.autonomy" min="1" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </p>
                        <p><i class="fa fa-arrows-alt"></i><b> Load Capacity (kg)</b></p>
                        <p class="control has-icons-left">
                            <input class="input" type="number" placeholder="Load Capacity" style="width: 150px;"
                                [(ngModel)]="truck.load_capacity" min="1" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </p>
                        <p><i class="fa fa-clock-o"></i><b> Fast Charging Time (min)</b></p>
                        <p class="control has-icons-left">
                            <input class="input" type="number" placeholder="Fast Charging Time" style="width: 150px;"
                                [(ngModel)]="truck.fast_charging_time" min="1" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </p>
                        <p><i class="fa fa-battery-full"></i><b> Max Battery Charge (kWh)</b></p>
                        <p class="control has-icons-left">
                            <input class="input" type="number" placeholder="Max Battery Charge" style="width: 150px;"
                                [(ngModel)]="truck.max_battery_charge" min="1" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-arrow-circle-right"></i>
                            </span>
                        </p>
                        <p><i class="fa fa-flag"></i><b> Active Status</b></p>
                        <p class="control">
                            <input class="checkbox" type="checkbox" style="width: 400px;"
                                [(ngModel)]="truck.status" required>
                        </p>
                        <div class="field is-grouped is-grouped">
                            <p class="control">
                                <a class="button is-primary" id="save" (click)="updateTruck()">
                                    Save Changes
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-light" routerLink="/trucks">
                                    Back
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!truck">
            <div class="notification is-danger">
                There was an error while trying to load the trucks data. Please try again later or try to go back to the general
                page with all the trucks.<br>
                The page will be reloaded every 5 seconds.<br>
                <a class="button is-dark" routerLink="/trucks" style="margin: 10px;">
                    Back
                </a>
            </div>    
        </div>        
    </div>
    <div *ngIf="!notFoundHidden">
      <app-notfound></app-notfound>
    </div>
  </ng-template>
  
